<div class="sidebar navblock navblock-text">
  <a href="/">全体</a>
  <a href="/hololive">ホロライブ</a>
  <a href="/holostars">ホロスターズ</a>
  <a href="/innk">イノナカ</a>
  <a href="/china">China</a>
  <a href="/indonesia">Indonesia</a>
</div>
