/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

/* custom */

.container {
  max-width: 1700px;
  margin: auto;
  padding: 0px;
}

.sidebar {
  background-color: gray;
}

.date {
  margin: 0;
  padding: 1em;
  font-weight: bold;
}

.lives {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: max-content;
  column-gap: 0.25em;
  row-gap: 0.25em;
  margin: 1em 0;
}

.live {
  background-color: white;
  color: black;
  font-weight: 300;
  border: 1px solid gray;
  padding: 0.5em;
  text-align: center;
}

.live p {
  margin: 0 auto;
  margin-bottom: 0.5em;
}

.live img {
  width: 100%;
  max-width: 320px;
  max-height: 170px;
}

.live-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.live-header p {
}

.live-ch {
  width: 100%;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
}

.live-time {
  width: 100%;
  text-align: left;
}

.live-active {
  border: 3px solid red;
  background-color: pink;
}

.live-prepare {
  background-color: yellow;
}

.live-ended {
  background-color: lightgray;
}

.txt-center {
  text-align: center;
}

.bg {
  background-color: #303030;
  color: #87ceeb;
  border-radius: 4px;
}

.col-1 {
  width: 25%;
}

.nav-list {
  list-style: none;
  padding: 0;
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
}

.nav-link {
  padding: 1em;
  text-decoration: none;
  color: lightskyblue;
}

.nav-link:hover {
  background-color: #505050;
  color: white;
}

nav hr {
  border-top: 1px solid gray;
}

.nav-group-selected {
  background-color: lightskyblue;
  color: #303030;
}

.nav-block-pad {
  padding: 0 1em;
}

.nav-block {
  padding: 0 0;
}

.nav-header {
  color: white;
}

nav .tz-select {
  background-color: white;
  color: black;
}

.footer {
  padding: 1em;
  text-align: center;
  color: white;
}

.footer p {
  padding-bottom: 0.5em;
  margin: 0;
}

.sidebar {
  margin-bottom: 2em;
}

// xs --- Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// sm --- Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .lives {
    column-gap: 1em;
    row-gap: 1em;
  }
}

// md --- Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    padding: 1em;
  }

  .lives {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

// lg --- Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .lives {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

// xl
@media (min-width: 1200px) {
  .lives {
    grid-template-columns: repeat(3, 1fr);
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr;
    column-gap: 1em;
  }

  .footer {
    margin: 2em auto;
    padding: 1em;
    text-align: center;
    color: white;
  }
  
  .footer p {
    padding-bottom: 0.5em;
    margin: 0;
  }

  .sidebar {
    margin-bottom: 0;
  }
}

// xl --- Extra large devices (large desktops, 1200px and up)
@media (min-width: 1440px) {
  .lives {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  } 
}
