<div class="container">
  <h1>Now</h1>
  <%= for group <- @lives do %>
    <h3><%= group.date %></h3>
    <%= for live <- group.lives do %>
      <p><%= time(live.datetime) %></p>
      <p>- <%= live.channel %></p>
      <a href="<%= live.url %>" target="_blank">
        <img src="<%= live.thumbnail %>">
      </a>
    <% end %>
  <% end %>
</div>
