<%= for group <- @lives do %>
  <div class="date">
    <b><%= date_str(group.date) %></b>
  </div>
  <div class="date-group">
    <%= for live <- group.lives do %>
      <div class="<%= live_class(live) %>">
        <p><%= time(live.datetime) %></p>
        <p>- <%= live.channel %></p>
        <a href="<%= live.url %>" target="_blank">
          <img src="<%= live.thumbnail %>">
        </a>
      </div>
    <% end %>
  </div>
<% end %>
